.nav-user {
    cursor: default;
    & > a{
        padding: 16px;
    }
    .modal {
        line-height: initial;
        padding: 5px 15px;
        .main-btn {
            margin: 14px 0 10px;
            height: 40px;
        }
        .login {
            font-size: 16px;
            padding: 5px 0 2px;
            a {
                color: $primary-clr;
                font-size: 14px;
            }
        }
        .userName {
            padding: 8px 0 11px;
            span {
                font-family: open-sans-bold;
            }
        }
        .logged-in-nav {
            padding-top: 22px;
            border-top: 1px solid $border-clr;
            border-bottom: 1px solid $border-clr;
            & > a {
                div {
                    font-size: 18px;
                    cursor: pointer;
                    margin-bottom: 22px;
                    font-family: open-sans-light;
                    color: #949494;
                    transition: color .25s ease-out;
                    &:hover{
                        color: $base-clr;
                    }
                }
            }
        }
    }
}
