.product-preview {
    position: relative;
    cursor: pointer;
    padding: 15px;

    .details-container {
        height: 105px;
        bottom: 0;

        .title {
            max-height: 58px;
            overflow: hidden;
        }

        .price {
            font-size: 18px;
            font-family: open-sans-bold;
            i {
                font-size: 12px;
                margin-right: 3px;
            }
        }
    }

    .img-container {
        margin-bottom: 10px;

        img {
            max-width: 100%;
            object-fit: contain;
        }
    }
}
