.product-preview {
    position: relative;
    cursor: pointer;
    padding: 15px;
    border-bottom: 1px solid $border-clr;
    border-left: 1px solid $border-clr;
    &.out-of-stock {
        opacity: 0.5;
    }

    .sale-modal {
        position: absolute;
        top: 5px;
        left: 7px;
        height: 45px;
        width: 45px;
        text-align: center;
        background-image: linear-gradient(225deg, #990000 0%, #ff0000 74%);
        box-shadow: 7px 6px 8px -5px rgba(0, 0, 0, 0.47);
        font-size: 13px;
        border-radius: 50%;
        z-index: 1;
        color: #fff;
        font-family: open-sans-bold;
        &:hover {
            animation: shake 0.5s;
            animation-iteration-count: infinite;
        }
    }

    .img-container {
        margin-bottom: 24px;

        img {
            width: 100%;
            object-fit: contain;
        }
    }

    .details-container {
        bottom: 0;
        padding: 0px 12px;

        .title {
            height: 28px;
            overflow: hidden;
            margin-bottom: 20px;
        }
        .info-continer {
            font-family: open-sans-bold;
            align-items: flex-end;
            height: 40px;
            .price-container {
                padding-bottom: 10px;
            }
            .in-stock {
                font-size: 16px;
                color: $error-clr;
                padding: 10px 0;
            }
            .compare {
                color: $primary-clr;
                transition: color 0.2s ease-in;
                font-size: 16px;
                padding: 10px 0;
                &:hover {
                    color: darken($color: $primary-clr, $amount: 10);
                    transition: color 0.1s ease-in;
                }
                &.remove {
                    color: $error-clr;
                    &:hover {
                        color: darken($color: $error-clr, $amount: 10);
                        transition: color 0.1s ease-in;
                    }
                }
            }
            @include for-mobile-layout {
                flex-direction: column;
                align-items: flex-start;
                height: 60px;
                justify-content: flex-end;
                .price-container {
                    padding: unset;
                    .price {
                        margin-bottom: unset;
                    }
                }
            }
        }
    }
}
