.product-preview {
    position: relative;
    cursor: pointer;
    padding: 7.5px 15px;

    &:hover .img-container {
        opacity: 0.85;
    }
    .details-container {
        height: 105px;
        bottom: 0;

        .price {
            font-size: 18px;
            font-family: open-sans-bold;
            i {
                font-size: 12px;
                margin-right: 3px;
            }
        }
    }

    .img-container {
        transition: ease-in-out 0.4s;
        margin-bottom: 10px;

        img {
            max-width: 100%;
            object-fit: contain;
        }
    }
}
