.product-preview {
    position: relative;
    max-width: 250px;
    height: 350px;
    cursor: pointer;

    &:hover .img-container{
        opacity: 0.85;
    }
    .details-container {
        position: absolute;
        height: 105px;
        padding: 10px 16px;
        bottom: 0;

        .price {
            font-size: rem(19px);
            font-family: Lato-Bold;
        }
    }

    .img-container {
        height: 235px;
        width: 235px;
        margin-top: 10px;
        transition: ease-in-out 0.4s;
        
        img {
            height: 100%;
            width: 95%;
            object-fit: contain;
        }
    }
}
