.category-preview {
    text-align: center;
    font-size: 15px;
    padding: 15px 0px;
    cursor: pointer;
    margin: 0 7px;
    &:hover {
        border-bottom: 2px solid $primary-clr;
    }
    @include for-tablet-layout {
        border-bottom: 1px solid lightgray;
        margin: 0 10px;
    }
}
