.nav-hamburger {
  @include for-tablet-layout {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border: none;
    width: 21px;
    height: 22px;
    background: transparent;
    cursor: pointer;
    transition: 0.3s all;
    outline: none;
    margin: 0 10px;
    z-index: 1000;
    order: 1;
  }
  display: none;

  span {
    display: block;
    height: 3px;
    background: $base-clr;
    width: 20px;
    transition: 0.3s all;
    transform: rotate(360deg);
  }
}

.menu-open .nav-hamburger span:first-child {
  transform: rotate(45deg);
  position: absolute;
}

.menu-open .nav-hamburger span:nth-child(2) {
  display: none;
}

.menu-open .nav-hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  position: absolute;
}

