.main-btn {
    transition: all .25s ease-out;
    cursor: pointer;
    height: 50px;
    width: 195px;
    border: none;
    outline: none;
    border-radius: 4px;
    font-family: open-sans-bold;
    font-size: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-align: center;
    &#primary {
        background-color: #3589fe;
        color: #fff;
        margin-left: 32px;
        &:hover {
            background-color: #1766d5;
        }
        &.disabled{
            background-color: #c3dcff;
            cursor: default;
        }
    }
    &#secondary {
        color: #3a414a;
        background-color: transparent;
        border: 2px solid #3a414a;
        &:hover {
            color: #fff;
            background-color: #2a2c2e;
            border-color: #2a2c2e;
        }
    }
}
