.main-btn {
    transition: all .25s ease-out;
    cursor: pointer;
    height: 50px;
    width: 195px;
    border: none;
    border-radius: 4px;
    font-family: Lato-Bold;
    font-size: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-align: center;
}
