.main-btn {
    transition: all .25s ease-out;
    cursor: pointer;
    height: 50px;
    width: 195px;
    border: none;
    outline: none;
    border-radius: 4px;
    font-family: open-sans-bold;
    font-size: 16px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-align: center;
    &.primary {
        background-color: $primary-clr;
        color: #fff;
        &:hover {
            background-color: darken($color: $primary-clr, $amount: 10%);
        }
        &.disabled{
            background-color: #c3dcff;
            cursor: not-allowed;
        }
    }
    &.secondary {
        color: $secondary-clr;
        background-color: transparent;
        border: 2px solid $secondary-clr;
        &:not(.disabled):hover {
            color: #fff;
            background-color: darken($color: $secondary-clr, $amount: 5%);
            border-color: darken($color: $secondary-clr, $amount: 5%);
        }
        &.disabled{
            color: lighten($secondary-clr, 50%);
            border-color: lighten($color: $secondary-clr, $amount: 50%);
            cursor: not-allowed;
            // &:hover {
            //     color: lighten($secondary-clr, 50%);
            //     border-color: lighten($color: $secondary-clr, $amount: 50%);
            //     background-color: transparent;
            // }
        }
    }
    &.error {
        background-color: $error-clr;
        color: #fff;
        &:hover {
            background-color: darken($color: $error-clr, $amount: 10%);
        }
    }
}
