// flex helpers

.flex {
  display: flex;

  &.column {
    flex-direction: column;
  }
  &.align-center {
    align-items: center;
  }
  &.align-start {
    align-items: flex-start;
  }
  &.justify-center {
    justify-content: center;
  }
  &.justify-between {
    justify-content: space-between;
  }
  &.justify-around {
    justify-content: space-around;
  }
}

// Media helpers

.square-ratio {
  @include aspect-ratio(1, 1);
}

//parallax

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-nav {
  margin: 40px 0;
  border-bottom: 1px solid #b7b7b7;
  width: 350px;
  height: 35px;
  & > a,
  & > div {
    width: 50%;
    height: 20px;
    text-align: center;
    &:first-of-type {
      border-left: 1px solid #b7b7b7;
    }
    & > div {
      font-size: 20px;
      font-family: open-sans-bold;
      width: fit-content;
      display: inline-block;
      height: 34px;
      @include for-tablet-layout {
        height: 29px;
        font-size: 18px;
      }
      @include for-mobile-layout {
        height: 24px;
        font-size: 14px;
      }
      &.active {
        border-bottom: 3px solid $primary-clr;
      }
    }
  }
  @include for-tablet-layout {
    height: 30px;
  }
  @include for-mobile-layout {
    width: 285px;
    height: 25px;
  }
}

.growl-msg {
  text-align: center;
  padding: 6px 20px;
  font-family: open-sans-bold;
  &.err {
    color: $error-clr;
    border: 1px solid $error-clr;
  }
  &.success {
    color: $success-clr;
    border: 1px solid $success-clr;
  }
  &.fade-in {
    opacity: 0;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
  }

  @keyframes fadeInOpacity {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
