.container {
    margin: 0 auto;
    padding: 32px;
}

.header-padding {
    padding-top: $header-height;
    @include for-tablet-layout {
        padding-top: $top-header-height;
    }
}

.open {
    &.category-list,
    &.filter-list {
        transform: translate(0, 0);
    }
}
