.container {
    margin: 0 auto;
    padding: 32px;
}

.header-padding {
    padding-top: $header-height;
    @include for-tablet-layout {
        padding-top: $top-header-height;
    }
}

.open {
    &.category-list,
    &.filter-list {
        transform: translate(0, 0);
    }
}

@include for-tablet-layout {
    .screen {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        z-index: 500;
        background-color: rgba(0, 0, 0, 0.8);
        display: none;
        cursor: pointer;
    }
    .menu-open,
    .open {
        .screen {
            display: block;
        }
    }
}
