@font-face {
    font-family: Lato;
    src: url(../../fonts/Lato/Lato-Regular.ttf);
}
@font-face {
    font-family: Lato-Bold;
    src: url(../../fonts/Lato/Lato-Bold.ttf);
}
@font-face {
    font-family: Lato-Black;
    src: url(../../fonts/Lato/Lato-Black.ttf);
}