@font-face {
    font-family: open-sans;
    src: url(../../fonts/open-sans-hebrew/OpenSansHebrew-Regular.ttf);
}
@font-face {
    font-family: open-sans-bold;
    src: url(../../fonts/open-sans-hebrew/OpenSansHebrew-Bold.ttf);
}
@font-face {
    font-family: open-sans-black;
    src: url(../../fonts/open-sans-hebrew/OpenSansHebrew-ExtraBold.ttf);
}