.acount {
    .hero {
        background-color: #efefef;
        font-size: 22px;
        font-family: open-sans-bold;
        padding: 10px 15px;
    }
    .page-container {
        max-width: 900px;
        margin: 0 auto;
        padding: 0px 60px 30px;
        .page-nav {
            width: 100%;
            a {
                width: 33.33%;
                &:not(:last-of-type) {
                    border-left: 1px solid #b7b7b7;
                }
            }
        }
        form {
            width: 450px;
        }
        .main-btn {
            margin: 0;
        }
    }
    @include for-tablet-layout {
        .hero {
            font-size: 20px;
            padding: 8px 15px;
        }
        .page-container {
            padding: 0px 30px 30px;
            .main-btn {
                height: 40px;
                width: 180px;
            }
        }
    }
    @include for-mobile-layout {
        .hero {
            font-size: 18px;
            padding: 6px 15px;
        }
        .page-container {
            padding: 0px 15px 30px;
            form {
                width: 100vw;
            }
            .main-btn {
                width: 150px;
            }
        }
    }
}
