.cart-page {
    // height: 100vh;
    background-color: #f6f6f6;
    .cart-sections {
        & > div {
            $cart-section-padding:25px;

            background-color: #fff;
            border-radius: 3px;
            padding: $cart-section-padding;
            margin-bottom: 50px;
            h1 {
                padding-bottom:$cart-section-padding;
                border-bottom: 1px solid #ebebeb;
                margin-bottom: 15px;
            }
        }
    }
    .empty-cart{
        font-family: open-sans-bold;
        font-size: 18px;
        height: 81vh;
        padding-bottom: 20vh;
    }
}

