.cart-page {
    background-color: #f6f6f6;
    .cart-sections {
        & > div {
            $cart-section-padding:25px;

            background-color: #fff;
            border-radius: 3px;
            padding: $cart-section-padding;
            margin-bottom: 35px;
            h1 {
                padding-bottom:$cart-section-padding;
                border-bottom: 1px solid $border-clr;
                margin-bottom: 15px;
            }
            @include for-tablet-layout {
                &.cart-table{
                    h1{
                        margin: 0;
                    }
                }
                .payment {
                    flex-direction: column;
                }
            }
            @include for-mobile-layout {
                margin-bottom: 20px;
            }
        }
    }
    .empty-cart{
        font-family: open-sans-bold;
        font-size: 18px;
        height: 81vh;
        padding-bottom: 20vh;
    }
}

