footer {
    width: 100%;
    height: $footer-height;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $footer-clr;
    padding: 0 15px;
    .main-logo {
        position: absolute;
        z-index: 1;
        margin: 0 auto;
        left: 0;
        right: 0;
        width: max-content;
        img {
            width: $footer-logo-width;
        }
    }
    @include for-tablet-layout{
        height: 100px;
        .main-logo {
            img {
                width: 175px;
            }
        }
    }
    @include for-mobile-layout{
        height: 80px;
        .main-logo {
            img {
                width: 150px;
            }
        }
    }
}
