footer {
    width: 100%;
    height: $footer-height;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $base-clr;
    padding: 0 15px;
    .main-logo {
        position: absolute;
        z-index: 1;
        margin: 0 auto;
        left: 0;
        right: 0;
        width: $footer-logo-width;
        img {
            width: $footer-logo-width;
        }
    }
}
