.cart-table-preview {
    padding: 5px 0;
    font-size: 16px;
    &:not(:last-child) {
        border-bottom: 1px solid $border-clr;
    }
    img {
        width: 100px;
        height: 100px;
        object-fit: contain;
        margin-left: 10px;
    }
    .title {
        line-height: 22px;
        min-width: 175px;
        max-width: 500px;
        &:hover {
            text-decoration: underline;
        }
    }
    .quantity-bar {
        height: 25px;
        input {
            font-size: 18px;
            width: 50px;
            flex-grow: 5;
        }
        .spinner-btn {
            width: 25px;
            height: 25px;
            flex-grow: 2;
        }
    }
    .price {
        text-align: center;
        .fa-shekel-sign {
            font-size: 12px;
            padding-right: 3px;
        }
    }
    .fa-trash-alt {
        color: #acabab;
        cursor: pointer;
        transition: color ease-in 0.3s;
        &:hover {
            color: initial;
        }
    }
    @include for-tablet-layout{
        padding: 15px 0;
        flex-wrap: wrap;
        img {
            margin-left: 20px;
        }
        .title {
            line-height: 20px;
        }
        .price {
            display: flex;
            align-items: baseline;
            .fa-shekel-sign {
                font-size: 10px;
            }
        }
    }
    @include for-mobile-layout{
        position: relative;
        font-size: 14px;
        img {
            width: 75px;
            height: 75px;
            margin-left: 10px;
        }
        .title {
            min-width: initial;
            max-width: 200px;
            line-break: auto;
            margin-left: 10px;
        }
        .fa-trash-alt {
            padding: 10px;
            font-size: 15px;
        }
    }
}