.cart-table-list {
    div {
        margin: 0 10px;
        .col-1 {
            min-width: 100px;
        }
        .col-2 {
            width: 60%;
            min-width: 175px;
            max-width: 500px;
        }
        .col-3 {
            width: 10%;
            min-width: 70px;
        }
        .col-4 {
            width: 15%;
            min-width: 135px;
        }
        .col-5 {
            width: 10%;
            min-width: 70px;
        }
        .col-6 {
            width: 5%;
            text-align: end;
        }
    }
    .cart-table-header {
        text-align: center;
        font-family: open-sans-bold;
        padding: 5px 0;
    }
}
