.search-bar-modal-container {
    position: absolute;
    min-height: 50px;
    padding-top: 8px;
    top: 25px;
    right: 0;
    background-color: #fff;
    border: 1px solid $border-clr;
    border-radius: 5px;
    width: 100%;
    z-index: 500;
    box-shadow: 0 4px 3px -3px grey;
    max-height: 590px;
    overflow-y: auto;
    &.no-result {
        font-size: 16px;
        display: flex;
        flex-direction: column-reverse;
        padding: 6px 20px;
        cursor: default;
    }
    @include for-mobile-layout{
        max-height: 337px;
    }
}
