.search-product-preview {
    padding: 10px 0;
    height: 65px;
    cursor: pointer;
        img {
            margin: 0 15px;
            width: 50px;
        }
    
    &:hover {
        background-color: #f7f7f7;
    }
}

// .search-product-preview {
//     padding: 10px 0;
//     cursor: pointer;
//     .img-container {
//         width: 75px;
//         height: 42px;
//         img {
//             margin-right: 15px;
//             width: 46px;
//             height: 30px;
//         }
//     }
//     &:hover {
//         background-color: #f7f7f7;
//     }
// }