.search-product-preview {
    padding: 10px 8px;
    height: 65px;
    cursor: pointer;
    .image-container{
        margin-left: 10px;
        width: 50px;
        text-align: center;
        img {
            max-width: 50px;
            max-height: 50px;
        }
    }
    
    &:hover {
        background-color: #f7f7f7;
    }
}