.search-product-list {
    position: absolute;
    top: 21px;
    right: 0;
    background-color: #fff;
    border: 1px solid $border-clr;
    border-radius: 5px;
    width: 100%;
    z-index: 500;
}
