.search-product-preview {
    padding: 10px 0;
    height: 65px;
    cursor: pointer;
        img {
            margin-left: 15px;
            width: 50px;
        }
    
    &:hover {
        background-color: #f7f7f7;
    }
}