.search-bar {
    margin: 0 10px 5px;
    position: relative;
    form {
        padding: 0;
        position: relative;
        width: 30vw;
        z-index: 1000;
        input {
            width: 100%;
            height: 35px;
            outline: none;
            border: none;
            font-size: 16px;
            font-family: open-sans;
            padding: 0 20px 0 40px;
            direction: rtl;
            border: 1px solid #ddd;
            border-radius: 10px;
            margin: 0;
        }
        .fa-search {
            position: absolute;
            font-size: 16px;
            left: 14px;
            top: 10px;
            color: $primary-clr;
            cursor: pointer;
        }
    }
    @include for-tablet-layout {
        order: 2;
        width: 100%;
        margin: 0 10px;
        form {
            width: 0;
            transition: all 0.2s linear;
            input {
                width: 0;
                padding: 0;
                border: none;
            }
            .fa-search {
                font-size: 20px;
                left: -39px;
                top: 8px;
                color: $base-clr;
            }
        }
    }
    @include for-mobile-layout {
        form {
            .fa-search {
                left: -25px;
            }
        }
    }
}
