.filter-option-list {
    max-height: 0;
    transition: max-height 0.6s ease-out;
    overflow: hidden;
    margin: 10px 0;
    &.visible {
        max-height: 100vh;
        transition: max-height 1s ease-in;
    }
}
