.filter-preview {
    min-height: 90px;
    border-bottom: 1px solid $border-clr;
    .filter-title-container {
        width: 100%;
        margin-top: 35px;
        cursor: pointer;
        .filter-title {
            color: $filter-clr;
        }
        .fa-minus,
        .fa-plus {
            color: #989898;
            font-size: 13px;
            line-height: 20px;
        }
    }
    @include for-tablet-layout {
        min-height: 60px;
        .filter-title-container {
            margin-top: 20px;
        }
    }
}
