.filter-list {
    min-width: 225px;
    height: 100%;
    padding: 0 20px;
    // border-left: 1px $border-clr solid;
    position: relative;
    overflow: auto;
    .close,
    .close-btn {
        display: none;
    }
    @include for-tablet-layout {
        transform: translate(100%, 0);
        transition: transform 0.9s;
        position: fixed;
        z-index: 990;
        background-color: #fff;
        height: 100vh;
        width: 40%;
        .close {
            height: 50px;
            display: block;
            .fa-times {
                font-size: 20px;
                cursor: pointer;
                padding: 10px;
                position: absolute;
                top: 0px;
                right: 6px;
            }
        }
        .close-btn {
            display: flex;
            width: 100%;
            margin: 15px 0 50px;
            height: 40px;
        }
    }
}
