.filter-list{
    min-width: 225px;
    padding: 0 20px 35px;
    border-left: 1px $border-clr solid;
    @include for-tablet-layout {
        transform: translate(100%, 0);
        transition: transform 0.9s;
        position: fixed;
        z-index: 2;
        background-color: #fff;
        height: 100vh;
    }
}