.contact-form {
    margin-left: 100px;
    form {
        padding: initial;
        margin-bottom: 25px;
        max-width: 650px;
        flex-wrap: wrap;
        display: flex;
        .input-container {
            width: 100%;
            &:first-child {
                padding-left: 20px;
                i {
                    left: 30px;
                }
            }
            &:nth-child(-n + 2) {
                width: 50%;
            }

            input,
            textarea {
                padding: 5px 10px 5px 30px;
            }
        }
    }
    button {
        width: 120px;
        height: 40px;
    }
    @include for-tablet-layout {
        margin: 0 0 80px;
    }
}
