.cart-item-preview {
    padding: 12px 0;
    line-height: initial;
    position: relative;
    &:not(:last-of-type) {
        border-bottom: 1px solid $border-clr;
    }
    cursor: default;
    img {
        width: 100px;
        height: 100px;
        object-fit: contain;
    }
    .cart-item-info {
        min-width: 300px;
        text-align: start;
        margin: 0 15px 0 50px;
        h5 {
            font-weight: 600;
            font-size: 14px;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
        .quantity-bar {
            height: 18px;
            border-radius: 4px;
            width: 52px;
            input {
                font-size: 13px;
                width: 18px;
            }
            .spinner-btn {
                height: 16px;
                width: 16px;
                i {
                    font-size: 10px;
                }
            }
        }
        .price-container {
            .price {
                font-weight: 600;
                font-size: 12px;
                i {
                    font-size: 9px;
                }
                &.sale {
                    font-size: 10px;
                    i {
                        font-size: 8px;
                    }
                }
            }
        }
    }
    .fa-trash-alt {
        font-size: 13px;
        padding: 10px;
        cursor: pointer;
        color: #acabab;
        position: absolute;
        top: 6px;
        left: -9px;
        &:hover {
            color: $base-clr;
        }
    }
    .total-amount {
        font-size: 12px;
        position: absolute;
        bottom: 13px;
        left: -2px;
        span {
            font-weight: 600;
            .fa-shekel-sign {
                font-size: 9px;
                margin: 0 3px;
            }
        }
    }
}
