.cart-table {
    background-color: #fff;
    border-radius: 3px;
    padding: 0 25px;
    h1 {
        padding: 30px 0;
        border-bottom: 1px solid #ebebeb;
    }
    .cart-table-list {
        div {
            margin: 0 10px;
            .col-1 {
                min-width: 100px;
            }
            .col-2 {
                width: 60%;
                min-width: 175px;
                max-width: 500px;
            }
            .col-3 {
                width: 10%;
                min-width: 70px;
            }
            .col-4 {
                width: 15%;
                min-width: 135px;
            }
            .col-5 {
                width: 10%;
                min-width: 70px;
            }
            .col-6 {
                width: 5%;
                text-align: end;
            }
        }
        .cart-table-header {
            text-align: center;
            font-family: open-sans-bold;
            padding: 26px 0 5px;
        }
        .cart-table-preview {
            padding: 5px 0;
            font-size: 16px;
            &:not(:last-child) {
                border-bottom: 1px solid #ebebeb;
            }
            img {
                width: 100px;
                height: 100px;
            }
            .title {
                line-height: 22px;
                &:hover {
                    text-decoration: underline;
                }
            }
            .quantity-bar {
                height: 25px;
                input {
                    font-size: 18px;
                    width: 50px;
                    flex-grow: 5;
                }
                .spinner-btn {
                    width: 25px;
                    height: 25px;
                    flex-grow: 2;
                }
            }
            .price {
                text-align: center;
                .fa-shekel-sign {
                    font-size: 12px;
                    padding-right: 3px;
                }
            }
            .fa-trash-alt {
                color: #acabab;
                cursor: pointer;
                transition: color ease-in 0.3s;
                &:hover {
                    color: initial;
                }
            }
        }
    }
}
