.cart {
    position: relative;
    width: 35px;
    .fa-shopping-cart {
        font-size: 16px;
    }
    .cart-quantity {
        position: absolute;
        height: 16px;
        min-width: 14px;
        top: 12px;
        right: -1px;
        line-height: 13px;
        border-radius: 50%;
        background-color: #3589fe;
        border: 1px solid #3589fe;
        color: #fff;
        padding: 0 3px;
        font-size: 12px;
    }
    &:hover .cart-modal {
        visibility: visible;
        opacity: 1;
    }
    .cart-modal {
        transition: all linear 0.5s;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: $top-header-height;
        left: -10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        background-color: #fff;
        .cart-modal-total {
            font-family: open-sans-bold;
            line-height: 2;
            padding: 10px 15px;
            border-top: #cacaca 1px solid;
            min-width: 497px;
            cursor: default;
            .main-btn {
                height: 35px;
                margin-right: 0;
            }
            span {
                font-size: 20px;
                &:not(:last-of-type) {
                    margin-left: 10px;
                }
                i {
                    font-size: 15px;
                    margin-right: 3px;
                }
            }
        }
        .cart-modal-empty {
            font-family: open-sans-bold;
            font-size: 16px;
            cursor: default;
        }
        &.visible {
            visibility: visible;
            opacity: 1;
        }
    }
}
