.cart-table {
    h1{
        margin-bottom: 20px;
    }
    .cart-table-list {
        .cart-table-preview {
            padding: 5px 0;
            font-size: 16px;
            &:not(:last-child) {
                border-bottom: 1px solid #ebebeb;
            }
            & > * {
                margin: 0 10px;
            }
            img {
                width: 100px;
                height: 100px;
            }
            .title {
                width: 500px;
                line-height: 22px;
                &:hover {
                    text-decoration: underline;
                }
            }
            .quantity-bar {
                height: 25px;
                input {
                    font-size: 18px;
                    width: 50px;
                }
                .spinner-btn {
                    width: 25px;
                    height: 25px;
                }
            }
            .price {
                width: 75px;
                text-align: center;
                .fa-shekel-sign {
                    font-size: 12px;
                    padding-right: 3px;
                }
            }
            .fa-trash-alt {
                color: #acabab;
                cursor: pointer;
                transition: color ease-in 0.3s;
                &:hover {
                    color: initial;
                }
            }
        }
    }
}
