.account-screen {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    .logout-modal {
        position: fixed;
        border-radius: 3px;
        background-color: #fff;
        z-index: 1200;
        padding: 20px 20px;
        .title {
            font-size: 20px;
            font-family: open-sans-bold;
            text-align: center;
            margin-bottom: 25px;
        }
        .btns-container {
            .main-btn {
                height: 40px;
                &.error {
                    margin-right: 15px;
                }
            }
        }
        @include for-mobile-layout {
            .btns-container {
                display: flex;
                flex-direction: column;
                .main-btn {
                    &.error {
                        margin: 15px 0 0;
                    }
                }
            }
        }
    }
}
