header {
    top: 0;
    right: 0;
    position: fixed;
    height: $header-height;
    width: 100%;
    transition: linear 0.6s;
    z-index: 999;
    background: #fff;
    border-bottom: 1px solid $border-clr;
    .top-header {
        height: $top-header-height;
        .right-container {
            width: 100%;
        }
        .main-logo {
            img {
                width: $logo-width;
            }
        }
    }

    @include for-tablet-layout {
        height: $top-header-height;
        .top-header {
            .right-container {
                justify-content: flex-start;
            }
            .main-logo {
                position: absolute;
                z-index: 1;
                margin: 0 auto;
                left: 0;
                right: 0;
                width: 175px;
                img {
                    width: 175px;
                }
            }
            &.query-open {
                .main-logo {
                    display: none;
                }
                .search-bar {
                    form {
                        width: 100%;
                        transition: all 0.4s linear;
                        input {
                            width: 100%;
                            padding: 0 20px 0 40px;
                            border: 1px solid #ddd;
                        }
                        .fa-search {
                            font-size: 18px;
                            left: 10px;
                            top: 9px;
                        }
                    }
                }
            }
        }

        .screen {
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            z-index: 500;
            background-color: rgba(0, 0, 0, 0.8);
            display: none;
            cursor: pointer;
        }
        &.menu-open {
            .screen {
                display: block;
            }
        }
    }
    @include for-mobile-layout {
        .top-header {
            .main-logo {
                width: 150px;
                img {
                    width: 150px;
                }
            }
        }
    }
}
