header{
    top: 0;
    right: 0;
    position: fixed;
    height: $header-height;
    width: 100%;
    transition: linear 0.6s;
    z-index: 999;
    background: #fff;
    border-bottom: 1px solid #ebebeb;

    .main-logo {
        width: $logo-width*1.45;
        height: $header-height;
        img {
            width: $logo-width;
            position: absolute;
            top: 7px;
            left: 5px;
        }
    }
}
