nav {
  @include for-mobile-layout {
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 50px;
    height: 100vh;
    border-left: 1px solid #c3c3c3;
    transform: translate(100%, 0);
    transition: transform 0.9s;
    background-color: #ebecf0;
  }
  float: right;
  .link-container {
    cursor: pointer;
    line-height: $header-height;
    text-align: center;
    padding: 0 10px;
    &:hover {
      background-color: #282c2e0d;
    }
    h3 {
      font-size: 18px;
    color: #44484a;
    font-family: open-sans;
  }
  }
}
