.image-gallery {
    margin-right: 64px;
    min-width: 605px;
    width: 40vw;
    .image-gallery-content{
        text-align: center;
        .image-gallery-image{
            height: 450px;
        }
        &.fullscreen{
            .image-gallery-image{
                height: initial;
                min-height: -webkit-fill-available;
            }
        }
    }
    @include for-laptop-layout {
        min-width: initial;
        width: 70vw;
        margin: 0 0 85px;
    }
    @include for-tablet-layout {
        margin: 0 0 45px;
        width: 100%;
    }
    @include for-mobile-layout {
        margin: 0px 0 25px;
        .image-gallery-image{
            height: 300px;
        }
    }
}

.image-gallery-thumbnail {
    transition: ease-in-out 0.3s;
    border: none;
    cursor: pointer;
    &.active,&:hover,&:focus{
        border: none;
    }
    &:hover {
        opacity: 0.9;
    }
    .image-gallery-thumbnail-inner {
        height: 100px;
        display: flex;
        align-items: center;
    }
}

.image-gallery-slide{
    outline: none;
    .image-gallery-image{
        width: 98%;
    }
}

.image-gallery-slide-wrapper.left, .image-gallery-slide-wrapper.right {
    @include for-mobile-layout {
        width: initial;
    }
}

.image-gallery-content.fullscreen {
    background: #fff;
}