.product-content {
    position: relative;
    max-width: 485px;
    .top-content {
        border-bottom: $border-clr 1px solid;
        padding-bottom: 15px;
        font-family: open-sans-bold;
        min-height: 125px;
        .content-title {
            line-height: 1.5;
            font-size: 22px;
            margin-bottom: 20px;
            text-align: justify;
        }
        span {
            font-size: 14px;
            padding-bottom: 8px;
            color: $primary-clr;
            text-align: left;
        }
        .info-continer {
            font-family: open-sans-bold;
            font-size: 24px;
            .in-stock{
                color: lighten($error-clr, 5%);
                
            }
            .content-price {
                text-align: left;
                i {
                    font-size: 20px;
                    padding-right: 5px;
                }
            }
        }
    }
    .buy-container {
        height: 125px;
        .main-btn.primary {
            margin-right: 32px;
        }
    }
    @include for-laptop-layout {
        max-width: 600px;
    }
    @include for-mobile-layout {
        .top-content {
            min-height: 110px;
            .content-title {
                font-size: 18px;
            }
            span {
                font-size: 12px;
            }
            .content-price {
                font-size: 20px;
                i {
                    font-size: 16px;
                }
            }
        }
        .buy-container {
            height: 100px;
            a {
                width: 50%;
                margin-right: 10px;
            }
            .main-btn {
                height: 40px;
                &.primary {
                    width: 100%;
                    margin-right: 0;
                }
                &.secondary {
                    width: 50%;
                }
            }
        }
    }
}
