.image-gallery {
    margin-right: 64px;
    min-width: 605px;
    width: 40vw;
    @include for-laptop-layout {
        min-width: initial;
        width: 70vw;
        margin: 0 0 35px;
    }
    @include for-tablet-layout {
        width: initial;
    }
    @include for-mobile-layout {
        margin: 0px 0 25px;
    }
}

.image-gallery-thumbnail {
    transition: ease-in-out 0.3s;
    border: none;
    cursor: pointer;
    &.active,&:hover,&:focus{
        border: none;
    }
    &:hover {
        opacity: 0.9;
    }
}

.image-gallery-slide{
    outline: none;
}

.image-gallery-slide-wrapper.left, .image-gallery-slide-wrapper.right {
    @include for-mobile-layout {
        width: initial;
    }
}