.product-quantity {
    height: 125px;
    align-items: center;
    border-bottom: #cacaca 1px solid;
    label {
        font-size: 18px;
        font-family: open-sans-bold;
    }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    display: none;
}
