.product-info {
    margin-bottom: 15px;
    .info-tabs {
        border-bottom: 1px solid $border-clr;
        margin-bottom: 28px;
        li {
            transition: all 0.35s ease-out;
            padding: 16px 0;
            margin-left: 75px;
            color: #949494;
            font-size: 18px;
            cursor: pointer;
            border-bottom: 3px solid transparent;
            &:hover {
                color: $secondary-clr;
            }
            &.active {
                border-bottom-color: $primary-clr;
                color: $secondary-clr;
            }
        }
    }
    table {
        border-collapse: collapse;
        width: 100%;
        tr:nth-child(odd) {
            background-color: #f2f2f2;
        }
        td {
            width: 50%;
            padding: 8px;
        }
    }
}
