.product-content {
    position: relative;
    .top-content {
        border-bottom: rgb(202, 202, 202) 1px solid;
        padding-bottom: 15px;
        font-family: Lato-Bold;
        min-height: 125px;
        .content-title {
            line-height: 1.5;
            font-size: 22px;
            margin-bottom: 20px;
        }
        span {
            font-size: 14px;
            padding-bottom: 8px;
            color: rgba(0, 83, 199, 0.76);
        }
        .content-price {
            font-family: Lato-Black;
            font-size: 24px;
            i {
                font-size: 20px;
                padding-right: 5px;
            }
        }
    }
    .buy-container {
        height: 125px;
        #buy-btn {
            background-color: #3589fe;
            color: #fff;
            margin-right: 32px;
            &:hover {
                background-color: #1766d5;
            }
        }
        #add-btn {
            color: #3a414a;
            background-color: transparent;
            border: 2px solid #3a414a;
            &:hover {
                color: #fff;
                background-color: #2a2c2e;
                border-color: #2a2c2e;
            }
        }
    }
}
