form {
    padding: 25px;

    .input-container {
        position: relative;
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        label {
            margin-bottom: 10px;
            font-size: 16px;
            .fa-star-of-life {
                color: $error-clr;
                font-size: 6px;
                top: -8px;
                right: 2px;
                position: relative;
            }
        }
        input,
        textarea {
            width: 100%;
            height: 36px;
            padding: 5px 10px;
            font-size: 1em;
            color: $base-clr;
            background-color: #f5f5f5;
            border: 1px solid #dbdbdb;
            outline: none;
            border-radius: 5px;
            margin-bottom: 10px;
            &:focus {
                border-color: #dbdbdb;
                box-shadow: #dbdbdb 0px 0px 5px;
            }
            &::placeholder {
                color: #44484a81;
                font-size: 1em;
            }
            &.disabled {
                pointer-events: none;
                background-color: #e9ecef;
                border: 1px solid #dbdbdb;
                color: lighten($color: $base-clr, $amount: 25%)
            }
        }
        textarea {
            min-height: 75px;
            max-height: 300px;
            font-family: open-sans;
            resize: vertical;
        }
        .form-error {
            position: relative;
            color: #fff;
            background-color: $error-clr;
            font-size: 15px;
            width: fit-content;
            padding: 5px 10px;
            border-radius: 5px;
            display: none;
            .arrow-up {
                position: absolute;
                width: 0;
                height: 0;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-bottom: 6px solid $error-clr;
                top: -6px;
                left: 20px;
            }
        }
        &.error {
            label {
                color: $error-clr;
            }
            input,
            textarea {
                border: 1px solid $error-clr;
            }
            .form-error {
                display: block;
            }
            .fa-check-circle {
                display: none;
            }
            .fa-exclamation-circle {
                display: block;
            }
        }
        &.valid {
            label {
                color: $success-clr;
                .fa-star-of-life {
                    color: $success-clr;
                }
            }
            input,
            textarea {
                border: 1px solid $success-clr;
            }
            .form-error {
                display: none;
            }
            .fa-check-circle {
                display: block;
            }
            .fa-exclamation-circle {
                display: none;
            }
        }
        .fa-check-circle {
            position: absolute;
            left: 10px;
            top: 36px;
            font-size: 17px;
            color: $success-clr;
            display: none;
        }
        .fa-exclamation-circle {
            position: absolute;
            left: 10px;
            top: 36px;
            font-size: 17px;
            color: $error-clr;
            display: none;
        }
        .fa-eye-slash,
        .fa-eye {
            position: absolute;
            font-size: 12px;
            left: 36px;
            top: 37px;
            font-size: 16px;
            cursor: pointer;
        }
    }
}
