// Colors
$base-clr: #44484a;;
$filter-clr: #2a2c2e;
$error-clr: #F44336;
$success-clr: #009688;
$clr5: #dff0ea;
$clr6: #fff;

// Breakpoints
$mobile-breakpoint: 460px;
$tablet-breakpoint: 720px;
$desktop-breakpoint: 1400px;

// header
$top-header-height: 65px;
$bottom-header-height: 45px;
$header-height: $top-header-height + $bottom-header-height;
$logo-width: 225px;