// Colors
$base-clr: #44484a;
$filter-clr: #2a2c2e;
$error-clr: #dc3545;
$success-clr: #28a945;
$primary-clr: #3589fe;
$secondary-clr: #3a414a;
$border-clr: #ebebeb;

// Breakpoints
$mobile-breakpoint: 479px;
$tablet-breakpoint: 768px;
$laptop-breakpoint: 1150px;
$desktop-breakpoint: 1281px;

// header
$top-header-height: 65px;
$bottom-header-height: 45px;
$header-height: $top-header-height + $bottom-header-height;
$logo-width: 225px;

// footer
$footer-height: 125px;
$footer-logo-width: 150px;
