// Colors
$base-clr: #44484a;;
$filter-clr: #2a2c2e;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;

// Breakpoints
$mobile-breakpoint: 460px;
$tablet-breakpoint: 720px;
$desktop-breakpoint: 1400px;

// header
$header-height: 65px;
$logo-width: 175px;